# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.log

*.user

TextRank\+\+/x64/Debug/TextRank\+\+.tlog/

TextRank\+\+/x64/Debug/

TextRank\+\+/x64/Release/TextRank\+\+.tlog/

TextRank\+\+/x64/Release/

x64/Release/
